body {
	height: 100vh;
	width: auto;
	display: flex;
	justify-content: center;
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
}

.centred {
	text-align: center;
}

.shadow-hover:hover {
	box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.25);
}